@import './mediaquery.module.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Dancing Script', cursive;
  font-size: 62.5%; /* 1rem = 10px */
  overflow: auto;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 10rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
}

.heading-primary {
  padding-top: 6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include respond(tab-port) {
    width: 100%;
    padding-top: 0;
  }

  & h1 {
    width: 75%;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
    @include respond(tab-port) {
      font-size: 2.5rem;
    }
  }

  & p {
    font-size: 2.5rem;
    font-weight: 300;
  }

  &-emphasis {
    display: block;
    color: rgb(248, 91, 74);
    font-weight: 700;
  }
}

.image {
  &-box {
    position: relative;
  }

  &-circle {
    position: absolute;
    top: 21%;
    left: -30%;
    width: 100vh;
    height: 100%;
    background-color: rgb(248, 91, 74);
    clip-path: circle(60rem at right 60rem);
  }
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;

  & > * {
    transition: all 0.3s ease-in-out;
    &:nth-child(2n + 0) {
      transform: translateY(-10%);
      &:hover {
        transform: translateY(-25%) scale(1.2);
      }
    }
    &:hover {
      cursor: pointer;
      transform: translateY(-10%) scale(1.2);
    }
  }
}

.btn {
  font: inherit;
  background-color: rgb(248, 91, 74);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.08);
  }

  &:active {
    transform: translateY(-1%);
  }
}
